/** DEFINIÇÕES E CONFIGURAÇÕES **/
:root {
  --color-white: #ffffff;
  --color-white-dark: #fbfbfb;
  --color-gray-light: #eeeeee;
  --color-gray-dark: #585858;
  --color-black: #000000;
  
  --color-main-primary: #fff; /*#4847b1;*/
  --color-main-secondary: #4847b1; /*#fe31aa*/
  --color-contrast-primary: #cc0000;
  --color-contrast-secondary: #fff;/*#c6ff01;*/
  
  --color-main-secondary-dark: #42419e;
  --color-main-secondary-darkest: #34337c;

  --size-width: 700px;
}

@font-face {
  font-family: Aldrich;
  src: url(../fonts/Aldrich/Aldrich-Regular.ttf);
}

@font-face {
  font-family: Teko;
  src: url(../fonts/Teko/Teko-Bold.ttf);
}

@font-face {
  font-family: Markazi;
  src: url(../fonts/Markazi/MarkaziText-VariableFont_wght.ttf);
}

@font-face {
  font-family: Cuprum;
  src: url(../fonts/Cuprum/Cuprum-Regular.ttf);
}

/** RESET **/
body {
  margin: 0;
  font-family: 'Markazi';
  font-size: 18pt;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum';
}

button {
  cursor: pointer;
}

a {
  font-size: 13pt;
  text-decoration: none;
  color: var(--color-main-secondary);
  font-family: 'Aldrich';
}

a:focus {
  color: var(--color-main-secondary-dark);
  text-decoration: underline;
}

a:active {
  color: var(--color-main-secondary-darkest);
  text-decoration: underline;
}

figure {
  margin: 0;
}

figure figcaption {
  font-weight: normal;
  color: var(--color-gray-dark);
  font-size: 16pt;
  text-align: center;
}

figure img {
  width: 100%;
}

hr {
  border: none;
  border-bottom: 1px solid var(--color-gray-dark);
}

/** ESTRUTURAS PRINCIPAIS **/
/** Main main **/
main[role="main"].main {
  margin: 0 auto;
  overflow: auto;
  max-width: var(--size-width);
  background-color: var(--color-gray-light);
}

/** Main Header **/
header.main {
  top: 0;
  z-index: 1;
  position: fixed;
  width: 100%;
  background-color: var(--color-main-primary);
  border-bottom: .5rem solid var(--color-main-secondary);
}

header.main h1 {
  font-size: 0;
  text-align: center;
  padding: 1rem;
}

header.main h1 > a {
  font-family: 'Teko';
  font-size: 19pt;
  color: var(--color-contrast-primary);
  user-select: none;
}

header.main button.mainmenu-button {
  float: left;
  padding: 0;
  width: 1.5rem;
  height: 1.5rem;
  font-size: 1.2rem;
  margin: 1.2rem 0.5rem 1rem .85rem;
}

/** Sidebar menu **/
nav.sidebar-menu {
  position: fixed;
  left: -100%;
  background-color: var(--color-main-secondary);
  padding: 0rem 2rem 1rem 1rem;
  max-width: 85%;
  box-sizing: border-box;
  color: var(--color-contrast-secondary);;
  overflow: auto;
  transition: left .25s ease-in-out;
}

nav.sidebar-menu .menu-collapse {
  display: none;
}

.is-main-menu-active nav.sidebar-menu {
  left: 0;
}

nav.sidebar-menu .submenu-heading {
  margin: 1rem 0;
  width: 100%;
}

nav.sidebar-menu h3 {
  font-size: 18pt;
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  width: calc(100% - 25px);
  overflow: hidden;
}

nav.sidebar-menu .open-menu-icon {
  float: right;
}

nav.sidebar-menu ul {
  padding-left: 1rem;
  margin: 1rem 0;
}

nav.sidebar-menu ul li {
  list-style-type: none;
  border-bottom: 1px solid;
  margin-top: .25rem;
}

nav.sidebar-menu ul li a {
  color: var(--color-contrast-secondary);
  white-space: nowrap;
  text-overflow: ellipsis;
  display: inline-block;
  width: 100%;
  overflow: hidden;
  font-size: 11pt;
}

/** Main Footer **/
footer.main {
  background-color: var(--color-main-secondary);
  padding: 1rem 0;
}

footer.main .social-network {
  display: flex;
  justify-content: space-around;
  padding: 2rem .5rem .5rem .5rem;
}

footer.main .social-network > * {
  font-size: 23pt;
}

footer.main .contact {
  max-width: var(--size-width);
  margin: 0 auto;
  text-align: center;
}

footer.main .contact *,
footer.main .contact *:hover,
footer.main .contact *:focus,
footer.main .contact *:active {
  color: var(--color-contrast-secondary);
}

/** COMPONENTES **/
/** Burguer button */
.burguer {
  position: relative;
  background: none;
}

.burguer span {
  display: block;
  position: relative;
  height: 3px;
  background: var(--color-main-secondary);
  border-radius: 3px;
  transition: all .25s ease-in-out;
}

.burguer span + span {
  margin-top: 4px;
}

.is-main-menu-active .burguer span:nth-child(1) {
  top: 7px;
  transform: rotate(-135deg);
}

.is-main-menu-active .burguer span:nth-child(2) {
  transform: rotate(-45deg);
}

.is-main-menu-active .burguer span:nth-child(3) {
  opacity: 0;
}

/** Botões como icones **/
button[type].is-icon,
a.is-icon {
  color: var(--color-main-secondary);
  background: none;
  border: 0;
  outline: none;
  cursor: pointer;
}

button[type].is-icon:hover,
button[type].is-icon:focus,
a.is-icon:hover,
a.is-icon:focus {
  color: var(--color-main-secondary-dark);
  text-decoration: none;
}

button[type].is-icon:active,
a.is-icon:active {
  color: var(--color-main-secondary-darkest);
  text-decoration: none;
}

a.is-icon img {
  width: 24px;
}

/** Postagem, heading **/
article.postagem {
  padding: 1rem;
  text-align: justify;
  background-color: var(--color-white);
}

article.postagem > h1 {
  font-weight: normal;
  margin-top: 1rem;
}

article.postagem > h1 + h2 {
  font-weight: normal;
  color: var(--color-gray-dark);
  font-size: 13pt;
}

article.postagem h3 {
  margin: 2.5rem 0 -0.25rem 0;
}

/** Postagem, publication data **/
.publication-data {
  margin-top: 3rem;
  color: var(--color-gray-dark);
}

.publication-data > * {
  font-size: 13pt;
  margin: 0;
  line-height: 0.1;
  padding: 0
}

.publication-data .publication-author {
  font-weight: bold;
}

.publication-data .publication-location {
  font-weight: normal;
}

.publication-data time {
  font-style: italic;
}

.publication-data .last-edition:before {
  content: "\B7";
  margin: 0 4px;
}

/** Postagem como section **/
section.postagem {
  padding: 1rem;
  background-color: var(--color-white);
  border-bottom: 1px solid var(--color-white-dark);
  margin: 1rem 0;
}

section.postagem .heading-1-like {
  margin: 0;
  display: block;
  font-size: 20pt;
  font-weight: bold;
  font-family: 'Markazi';
  color: var(--color-main-secondary);
}

section.postagem .heading-1-like + .heading-2-like {
  margin: 0;
  display: block;
  font-weight: normal;
  font-family: 'Cuprum';
  color: var(--color-gray-dark);
}

section.postagem figure {
  margin-top: 2rem;
}

section.postagem .publication-data {
  margin-top: 1rem;
}

section.postagem ~ hr {
  display: none;
}
