/** ESTRUTURAS PRINCIPAIS **/
/** Header **/
header.main button.mainmenu-button {
  display: none;
}

/** ESTRUTURAS PRINCIPAIS **/
/** Sidebar menu **/
nav.sidebar-menu {
  position: relative;
  max-width: 25rem;
  float: left;
  left: -370px;
}

nav.sidebar-menu .menu-collapse {
  border: none;
  border-right: 5px solid var(--color-main-secondary);
  background-color: var(--color-contrast-secondary);
  height: 100%;
  position: absolute;
  right: 0px;
  width: 1rem;
  outline: none;
  display: block;
}

nav.sidebar-menu .menu-collapse:before {
  color: var(--color-main-secondary);
  position: relative;
  left: -12px;
  font-size: 20pt;
  transform: rotate(0deg);
  display: block;
  transition: transform .25s, left .25s;
}

.is-main-menu-active nav.sidebar-menu .menu-collapse:before {
  left: 13px;
  transform: rotate(180deg);
}
