/** ESTRUTURAS PRINCIPAIS **/
/** Header **/
header.main {
  height: 6rem;
}

header.main h1 {
  font-size: 3rem;
}

header.main button.mainmenu-button,
header.main button.search-button {
  font-size: 3rem;
  margin: 1.3rem 1rem;
}

/** Postagem como section **/
section.postagem {
  margin: 0;
}

section.postagem ~ hr {
  margin: 0;
  padding: 0.5em;
  display: inherit;
  background-color: var(--color-white);
}